/* footer 전체 영역 Container css */
#footerAllContainer {
    margin-top: 200px;
}

#footerAllContainer svg {
    font-size: 30px;
}
/* footer 전체 영역 Container css */


/* footer 메인 Contents 영역 전체 Container css */
#footerMainContentsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* footer 메인 Contents 영역 전체 Container css */


/* footer 개발자 Email을 감싸는 span css */
.footerDeveloperEmail {
    margin-left: 10px;
    font-size: 13px;
}
/* footer 개발자 Email을 감싸는 span css */