/* 팀 게시판 전체를 감싸는 Container css */
#teamBoardInfoContentsAllContainer {
    width: 50%;
    margin-left: 300px;
}
/* 팀 게시판 전체를 감싸는 Container css */


/* 팀 게시판 정보 전체를 감싸는 Container css */
#teamBoardInfoContentsAllContainer #boardAdditionInfoContainer > div > span > svg {
    float: none;
}

#teamBoardInfoContentsAllContainer #boardAdditionInfoContainer > div > span {
    cursor: pointer;
}
/* 팀 게시판 정보 전체를 감싸는 Container css */