/* 팀 구인 게시판 전체 Container css */
.boardAllContainer {
    width: 100vw;
}

.boardAllContainer > .boardTitleContainer {
    text-align: center;
}

.boardAllContainer > .boardTitleContainer > h4 {
    display: inline-block;
    cursor: pointer;
    margin: 50px auto;
}
/* 팀 구인 게시판 전체 Container css */


/* 게시글 영역 Container css */
table.boardMainContentsContainer {
    width: 70%;
    margin: 0 auto 20px;
}

.boardMainContentsContainer > thead > tr {
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    background-color: aliceblue;
}

.boardMainContentsContainer > tbody > tr {
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    cursor: pointer;
}

.boardMainContentsContainer > tbody > tr:hover {
    background-color: #f8f8fa;
}
/* 게시글 영역 Container css */


/* 게시글 글 작성, 검색 영역을 감싸는 Container css */
.boardButtonContainer {
    width: 70%;
    margin: 0 auto 10px;
}

.boardButtonContainer > select {
    margin-left: 1rem;
    padding: 5px 10px;
    font-size: 15px;
}

.boardButtonContainer > button {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
    color: blue;
    padding: 5px 10px;
}

.boardButtonContainer > button:hover {
    background-color: blue;
    color: white;
    transition-duration: 0.3s;
}
/* 게시글 글 작성, 검색 영역을 감싸는 Container css */


/* 게시글 검색 영역을 감싸는 Container css */
.boardSearchContainer {
    float: right;
}

.boardSearchContainer > button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px 10px;
}

.boardSearchContainer > button:hover {
    background-color: gray;
    color: white;
    transition-duration: 0.3s;
}

.boardSearchContainer > input {
    height: 35px;
    border-radius: 5px;
}
/* 게시글 검색 영역을 감싸는 Container css */