/* 마이페이지 전체 영역 Container css */
.mypageAllContainer {
    width: 100vw;
    padding-top: 80px;
}
/* 마이페이지 전체 영역 Container css */


/* 마이페이지 컨텐츠 내용을 감싸는 전체 영역 Container css */
.mypageContentsAllContainer {
    margin: 0 auto;
    width: 90%;
    height: 1000px;
}
/* 마이페이지 컨텐츠 내용을 감싸는 전체 영역 Container css */


/* 마이페이지 컨텐츠 내용을 감싸는 Container css */
.mypageContentsContainer {
    background-color: white;
    border-radius: 10px;
    margin: 50px;
    width: 80%;
    margin: 0 auto;
}
/* 마이페이지 컨텐츠 내용을 감싸는 Container css */


/* 프로필 전체 영역 Container css */
.mypageProfileAllContainer {
    height: 250px;
}
/* 프로필 전체 영역 Container css */


/* 프로필 Container css */
.mypageProfileContainer {
    padding-top: 15px;
    padding-left: 30px;
}

.mypageProfileContainer > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mypageProfileContainer > span {
    font-size: 25px;
    margin-left: 20px;
    vertical-align: middle;
}

.mypageProfileContainer > #userEmailText {
    font-size: 15px;
    color: gray;
    display: inline-block;
    margin-top: 6px;
}

.mypageProfileContainer > button {
    float: right;
    margin-top: 5px;
    margin-right: 10px;

    background-color: inherit;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 15px;

    transition-duration: 0.2s;
}

.mypageProfileContainer > button:hover {
    border: 1px solid white;
    background-color: gray;
    color: white;
}
/* 프로필 Container css */


/* 프로필의 유저 컨텐츠 Container css */
.mypageUserContentsListContainer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mypageUserContentsListContainer > div {
    display: inline-block;
    text-align: center;
}

.mypageUserContentsListContainer > div > p {
    margin-bottom: 0;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.mypageUserContentsListContainer > div:first-child > p {
    cursor: auto;
}

.mypageUserContentsListContainer > div:last-child > p {
    cursor: auto;
}

.mypageUserContentsListContainer > div > span {
    font-size: 15px;
    color: #b4b4b4;
    display: block;
}
/* 프로필의 유저 컨텐츠 Container css */


/* 팀 전체 영역 Container css */
.mypageTeamAllContainer {
    margin-top: 20px;
    height: 600px;
}

.mypageTeamAllContainer > hr {
    margin: 0;
}
/* 팀 전체 영역 Container css */


/* 마이페이지 Nav Container css */
.mypageNavContainer button {
    background-color: inherit;
    font-size: 17px;
    border: none;
    color: gray;

    padding: 15px;
}
/* 마이페이지 Nav Container css */


/* Nav 버튼 클릭 시 부여되는 class css */
button.mypageNavBtnActive {
    color: black;
    font-weight: 700;
    border-bottom: 1px solid blue;
}
/* Nav 버튼 클릭 시 부여되는 class css */


/* 마이페이지의 팀 관련 내용 전체 영역 Container css */
.mypageTeamContentsContainer {
    width: 100%;
    height: 100%;
}
/* 마이페이지의 팀 관련 내용 전체 영역 Container css */


/* 비밀번호/닉네임 수정 Modal 창 버튼 css */
button.modifyButtons {
    margin-left: 3px;
    border-radius: 20px;
    height: 40px;
}
/* 비밀번호/닉네임 수정 Modal 창 버튼 css */


/* User Comments Container css */
#userCommentsContainer {
    margin-top: 20px;
}

#userCommentsContainer button {
    background-color: inherit;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0 5px;
    font-size: 13px;
    margin-left: 10px;

    transition-duration: 0.2s;
}

#userCommentsContainer button:hover {
    border: 1px solid white;
    background-color: gray;
    color: white;
}
/* User Comments Container css */


/* 본인이 작성한 게시글 리스트를 감싸는 Container css */
#userBoardListGroup {
    height: 500px;
    width: 450px;
    overflow: auto;
}

#userBoardListGroup > div {
    cursor: pointer;
}

#userBoardListGroup > div:hover {
    background-color: #f8f8fa;
    transition-duration: 0.3s;
}
/* 본인이 작성한 게시글 리스트를 감싸는 Container css */


/* 마이페이지의 회원 탈퇴 버튼 span css */
#withDrawalButton {
    margin-left: 10px;

    border: 1px solid red;
    border-radius: 20px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;

    color: red;
    font-size: 11px;

    transition-duration: 0.2s;
}

#withDrawalButton:hover {
    background-color: red;
    color: white;
}

#withDrawalButtonContainer > button {
    padding: 5px 20px;
}

#withDrawalButtonContainer > button:last-child {
    margin-left: 20px;
}
/* 마이페이지의 회원 탈퇴 버튼 span css */